nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}


.btn-primary{
    background-color: #ff4500;
    border-radius: 4px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
}


.nav-title{
    color: black;
    font-size: 40px;
    font-weight: 800;
    margin-left: 10px;

}

nav > ul{
    display: flex;
    align-items: center;

}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.header{
    background-color: aliceblue;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}

.banner img{
    height: 500px;
    width: 400px;
}